

<div class="container">
    <h1>{{title}}</h1>
    <form action="/shorten" method="POST">
        <div class="form-group">
            <label for="url">Your URL:</label>
            <input type="text" placeholder="http://www.yourURL.com" name="url" id="url" class="form-control" />
        </div>
        <div class="float-right">
            <button type="submit" class="btn btn-primary">Shorten my URL!</button>
        </div>
    </form>
</div>